body {
    font-family: "poppins", sans-serif;
    margin: 0;
    
}
.jumbotron {
    padding-top: 6rem;
    background-color: #CDCDC0;
}

#about {
    background-color: #DDBC95;
}

#projects {
    background-color: #CDCDC0;
}

section {

    padding-top: 5rem;
}

#gallery {
    background-color: #B38867;
}

.gallery-img {
   width: 100%;

}

#gallery .row > *{
    padding: 0;
}